sqlalchemy.url = postgresql://user:password@server:port/db
session.url = postgresql://user:password@server:port/db
session.secret = s0s3cr3ts
pbb.url = oracle://user:password@server:port/db
pbbm.url = oracle://user:password@server:port/db
webr.url = oracle://user:password@server:port/db
pjdl.url = oracle://user:password@server:port/db
bphtb.url = oracle://user:password@server:port/db
