alembic~=1.6.5
pyramid~=2.0
SQLAlchemy~=1.4.17
reportlab~=3.5.67
setuptools~=56.0.0
requests~=2.26.0
deform~=2.0.15
pytz~=2021.1
colander~=1.8.3
transaction~=3.0.1
python-dateutil~=2.8.1
google~=3.0.0
qrcode~=6.1
pyramid_rpc
icecream~=2.1.1
Pillow~=8.3.1
lxml~=4.6.3
beautifulsoup4~=4.9.3
soupsieve~=2.2.1
pip~=18.1
wheel~=0.37.0
rsa~=4.7.2
pyasn1~=0.4.8
Mako~=1.1.4
Babel~=2.9.1
Beaker~=1.11.0
Pygments~=2.9.0
MarkupSafe~=2.0.1
six~=1.16.0
Genshi~=0.7.5
WebOb~=1.8.7
Chameleon~=3.9.1
translationstring~=1.4
peppercorn~=0.6
iso8601~=0.1.16
cachetools~=4.2.2
certifi~=2021.5.30
urllib3~=1.26.6
google-api-python-client~=2.15.0
colorama~=0.4.4
chardet~=4.0.0
passlib~=1.7.4
venusian~=3.0.0
plaster~=1.0
hupper~=1.10.3
greenlet~=1.1.1
pyparsing~=2.4.7
httplib2~=0.19.1
executing~=0.8.0
paginate~=0.5.6
idna~=2.10
waitress~=2.0.0
asttokens~=2.0.5
uritemplate~=3.0.1
zipp~=3.5.0
PyJWT~=2.1.0