sqlalchemy~=1.4.22
zope.sqlalchemy
pyramid~=2.0
pyramid_beaker
colander~=1.8.3
deform~=2.0.15
transaction~=3.0.1
colorama~=0.4.4
Pillow~=8.3.1
lxml~=4.6.3
beautifulsoup4~=4.9.3
soupsieve~=2.2.1
pip~=18.1
wheel~=0.37.0
rsa~=4.7.2
pyasn1~=0.4.8
Chameleon~=3.9.1
six~=1.16.0
Mako~=1.1.4
Babel~=2.9.1
Beaker~=1.11.0
Pygments~=2.10.0
MarkupSafe~=2.0.1
Genshi~=0.7.5
pytz~=2021.1
WebOb~=1.8.7
translationstring~=1.4
peppercorn~=0.6
iso8601~=0.1.16
google~=3.0.0
cachetools~=4.2.2
certifi~=2021.5.30
urllib3~=1.26.6
requests~=2.26.0
google-api-python-client~=2.19.0
python-dateutil~=2.8.2
alembic~=1.6.5
passlib~=1.7.4
venusian~=3.0.0
plaster~=1.0
hupper~=1.10.3
waitress~=2.0.0
greenlet~=1.1.1
pyparsing~=2.4.7
httplib2~=0.19.1
icecream~=2.1.1
executing~=0.8.0
paginate~=0.5.6
idna~=3.2
chardet~=4.0.0
asttokens~=2.0.5
setuptools~=56.0.0
uritemplate~=3.0.1
zipp~=3.5.0
reportlab~=3.6.1
PyJWT~=2.1.0
qrcode~=7.3.1
py~=1.11.0
attrs~=21.4.0
toml~=0.10.2
pytest~=7.1.1
pluggy~=1.0.0
iniconfig~=1.1.1