/*
CSS ini sebenarnya clone dari bootstrap ver.4xxx
Karena ada beberapa tidak diperlukan tetapi berpengaruh terhada style yang sudah ada,
yang berakibat content yang ada menjadi berantakan.
Dikarenakan dibutuhkan untuk meningkatkan flexibilitas content maka dibuatkan css ini

CSS INI HANYA MILIK OPENSIPKD
*/
/* animation loader */
@-webkit-keyframes dataloader {
    0% {
        -webkit-box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
        box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
    }
    20% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
    }
    40% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
    }
    60% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
    }
    80% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
    }
    100% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
    }
}
@-moz-keyframes dataloader {
    0% {
        -webkit-box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
        box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
    }
    20% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
    }
    40% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
    }
    60% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
    }
    80% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
    }
    100% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
    }
}
@-o-keyframes dataloader {
    0% {
        -webkit-box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
        box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
    }
    20% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
    }
    40% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
    }
    60% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
    }
    80% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
    }
    100% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
    }
}
@keyframes dataloader {
    0% {
        -webkit-box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
        box-shadow: rgba(200, 200, 0, 0.8) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.1) 2.5em 1.5em 0 0;
    }
    20% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.5) -3.5em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.2) 2.5em 1.5em 0 0;
    }
    40% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.4) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -2.3em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.3) 2.5em 1.5em 0 0;
    }
    60% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.3) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) -1.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.4) 2.5em 1.5em 0 0;
    }
    80% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.2) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 0.1em 1.5em 0 0, 
                    rgba(200, 200, 0, 0.8) 1.3em 1.5em 0 0,
                    rgba(0, 0, 0, 0.5) 2.5em 1.5em 0 0;
    }
    100% {
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
        box-shadow: rgba(0, 0, 0, 0.1) -3.5em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.2) -2.3em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.3) -1.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.4) 0.1em 1.5em 0 0, 
                    rgba(0, 0, 0, 0.5) 1.3em 1.5em 0 0,
                    rgba(200, 200, 0, 0.8) 2.5em 1.5em 0 0;
    }
}
/* html */
html {
    background-image: url("/static/img/repeat.png");
    background-position: top left;
    background-repeat: repeat;
}
body {
    background: none;
    background-image: none;
}
html, body {
    overflow-x: hidden;
}
.fixed-navigation #left-panel {
    height: 100vh;
}
.fixed-navigation nav > ul {
    width: 100%;
    overflow-y: hidden;
    padding-right: 0;
}
/* hack scroll */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(181,181,181,0.7);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
/* fix nav */
.fixed-navigation nav {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 0;
}
.fixed-navigation nav > ul {
    height:auto;
}
/* position */
.pos-relative {
    position: relative;
}
/* display */
.dblock {
    display: block !important;
}
.dinline {
    display: inline !important;
}
.dinlineblock {
    display: inline-block !important;
}
.dflex {
    display: flex !important;
}
.dflex-inline {
    display: inline-flex !important;
}
.dtable {
    display: table !important;
}
.dnone {
    display: none !important;
}
/* width*/
.w-auto {width: auto !important;}
.w-1 {width: 7.5rem !important;}
.w-2 {width: 12.5rem !important;}
.w-3 {width: 20rem !important;}
/*.dnone-xs {}*/
/*.dnone-sm {}*/
/*.dnone-md {}*/
/*.dnone-lg {}*/
/* justify content */
.jc-all {
    justify-content: all !important;
}
.jc-start {
    justify-content: flex-start !important;
}
.jc-end {
    justify-content: flex-end !important;
}
.jc-between {
    justify-content: space-between !important;
}
.jc-around {
    justify-content: space-around !important;
}
.jc-center {
    justify-content: center !important;
}

/* flex direction */
.fd-column {
    flex-direction: column !important;
}
.fd-column-rv {
    flex-direction: column-reverse !important;
}
.fd-row {
    flex-direction: row !important;
}
.fd-row-rv {
    flex-direction: row-reverse !important;
}

/* flex wrap */
.fw {
    flex-wrap: wrap !important;
}
.fw-none {
    flex-wrap: nowrap !important;
}
.fw-rv {
    flex-wrap: wrap-reverse !important;
}

/* align item */
.ai-center {
    align-items: center !important;
}
.ai-start {
    align-items: flex-start !important;
}
.ai-end {
    align-items: flex-end !important;
}
.ai-base {
    align-items: baseline !important;
}
.ai-stretch {
    align-items: stretch !important;
}

/* align self */
.as-auto {
    align-self: auto !important;
}
.as-start {
    align-self: flex-start !important;
}
.as-end {
    align-self: flex-end !important;
}
.as-base {
    align-self: baseline !important;
}
.as-center {
    align-self: center !important;
}
.as-stretch {
    align-self: stretch !important;
}

/* margin */
.margin-auto {
    margin: auto !important;
}
.margin-0 {
    margin: 0 !important;
}
.margin-1 {
    margin: .25rem !important;
}
.margin-2 {
    margin: .5rem !important;
}
.margin-3 {
    margin: 1rem !important;
}
.margin-4 {
    margin: 1.5rem !important;
}
.margin-5 {
    margin: 3rem !important;
}
/* margin top */
.margin-top-auto {
    margin-top: auto !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-1 {
    margin-top: .25rem !important;
}
.margin-top-2 {
    margin-top: .5rem !important;
}
.margin-top-3 {
    margin-top: 1rem !important;
}
.margin-top-4 {
    margin-top: 1.5rem !important;
}
.margin-top-5 {
    margin-top: 3rem !important;
}
/* margin bottom */
.margin-bottom-auto {
    margin-bottom: auto !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-1 {
    margin-bottom: .25rem !important;
}
.margin-bottom-2 {
    margin-bottom: .5rem !important;
}
.margin-bottom-3 {
    margin-bottom: 1rem !important;
}
.margin-bottom-4 {
    margin-bottom: 1.5rem !important;
}
.margin-bottom-5 {
    margin-bottom: 3rem !important;
}
/* margin left */
.margin-left-auto {
    margin-left: auto !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-left-1 {
    margin-left: .25rem !important;
}
.margin-left-2 {
    margin-left: .5rem !important;
}
.margin-left-3 {
    margin-left: 1rem !important;
}
.margin-left-4 {
    margin-left: 1.5rem !important;
}
.margin-left-5 {
    margin-left: 3rem !important;
}
/* margin right */
.margin-right-auto {
    margin-right: auto !important;
}
.margin-right-0 {
    margin-right: 0 !important;
}
.margin-right-1 {
    margin-right: .25rem !important;
}
.margin-right-2 {
    margin-right: .5rem !important;
}
.margin-right-3 {
    margin-right: 1rem !important;
}
.margin-right-4 {
    margin-right: 1.5rem !important;
}
.margin-right-5 {
    margin-right: 3rem !important;
}
/* margin x*/
.margin-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.margin-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.margin-x-1 {
    margin-left: .25rem !important;
    margin-right: .25rem !important;
}
.margin-x-2 {
    margin-left: .5rem !important;
    margin-right: .5rem !important;
}
.margin-x-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.margin-x-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}
.margin-x-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}
/* margin y */
.margin-y-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.margin-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.margin-y-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}
.margin-y-2 {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
}
.margin-y-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.margin-y-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.margin-y-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
/* padding */
.padding-0 {
    padding: 0 !important;
}
.padding-1 {
    padding: .25rem !important;
}
.padding-2 {
    padding: .5rem !important;
}
.padding-3 {
    padding: 1rem !important;
}
.padding-4 {
    padding: 1.5rem !important;
}
.padding-5 {
    padding: 3rem !important;
}
/* padding top */
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-top-1 {
    padding-top: .25rem !important;
}
.padding-top-2 {
    padding-top: .5rem !important;
}
.padding-top-3 {
    padding-top: 1rem !important;
}
.padding-top-4 {
    padding-top: 1.5rem !important;
}
.padding-top-5 {
    padding-top: 3rem !important;
}
/* padding bottom */
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-bottom-1 {
    padding-bottom: .25rem !important;
}
.padding-bottom-2 {
    padding-bottom: .5rem !important;
}
.padding-bottom-3 {
    padding-bottom: 1rem !important;
}
.padding-bottom-4 {
    padding-bottom: 1.5rem !important;
}
.padding-bottom-5 {
    padding-bottom: 3rem !important;
}
/* padding left */
.padding-left-0 {
    padding-left: 0 !important;
}
.padding-left-1 {
    padding-left: .25rem !important;
}
.padding-left-2 {
    padding-left: .5rem !important;
}
.padding-left-3 {
    padding-left: 1rem !important;
}
.padding-left-4 {
    padding-left: 1.5rem !important;
}
.padding-left-5 {
    padding-left: 3rem !important;
}
/* padding right */
.padding-right-0 {
    padding-right: 0 !important;
}
.padding-right-1 {
    padding-right: .25rem !important;
}
.padding-right-2 {
    padding-right: .5rem !important;
}
.padding-right-3 {
    padding-right: 1rem !important;
}
.padding-right-4 {
    padding-right: 1.5rem !important;
}
.padding-right-5 {
    padding-right: 3rem !important;
}
/* padding y */
.padding-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padding-y-1 {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}
.padding-y-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}
.padding-y-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.padding-y-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.padding-y-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
/* padding x */
.padding-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.padding-x-1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}
.padding-x-2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}
.padding-x-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.padding-x-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.padding-x-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}
/* header */
#header {
    background-image: linear-gradient(to bottom, #f3f3f3, #e2e2e2) !important;
}
#header .logo-app {
    width: auto;
    height: 35px;
}
#header #hide-menu a {
    line-height: normal !important;
    width: 30px !important;
    height: 30px !important;
}
/* text */
.txt-upper {
    text-transform: uppercase;
}
.txt-lower {
    text-transform: lowercase;
}
.txt-capital {
    text-transform: capitalize;
}
.txt-space-0 {
    letter-spacing: normal;
}
.txt-space-1 {
    letter-spacing: 1px;
}
.txt-space-2 {
    letter-spacing: 2px;
}
.txt-space-3 {
    letter-spacing: 3px;
}
/* font size */
.font-size-1 {
    font-size: 1rem !important;
}
.font-size-2 {
    font-size: 1.25rem !important;
}
.font-size-3 {
    font-size: 1.5rem !important;
}
.font-size-4 {
    font-size: 1.75rem !important;
}
.font-size-5 {
    font-size: 2rem !important;
}
/* font weight */
.font-w-normal {
    font-weight: normal !important;
}
.font-w-bold {
    font-weight: bold !important;
}
.font-w-bolder {
    font-weight: bolder !important;
}
@media (max-width: 979px) {
    #header #hide-menu a {
        margin: 1rem .25rem 0 0 !important;
    }
    #header #hide-menu a i {
        font-size: 100% !important;
    }
}
@media (max-width: 879px) {
    .dnone-lg {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .dnone-md {
        display: none !important;
    }
}
@media (max-width: 659px) {
    .dnone-sm {
        display: none !important;
    }
}
@media (max-width: 549px) {
    .dnone-xs {
        display: none !important;
    }
}
/* floating */
.float-none {
    float: none;
    clear: both;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* button */
.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .75rem;
}
/* form element */
.form-control,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    padding: .25rem .5rem !important;
    line-height: normal;
    height: 2.5rem !important;
    font-size: 12px;
    border-radius: 0 !important;
}
.control-tanggal {
    width: 100px;
}
.form-label {
    position: relative;
}
.form-label:after {
    content: ":";
    margin-left: .25rem;
}
.form-required:before {
    content: "*";
    color: #ff0000;
    position: absolute;
    top: -0.25rem;
    right: -0.125rem;
}
.help-block {
    color: #c26565;
}
.form-loader {
    position: absolute;
    z-index: 5555;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    padding: 0;
    background: transparent;
}
.form-loader:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.075);
}
.form-loader:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    background: transparent;
    -webkit-animation: dataloader 500ms infinite alternate;
    -moz-animation: dataloader 500ms infinite alternate;
    -ms-animation: dataloader 500ms infinite alternate;
    -o-animation: dataloader 500ms infinite alternate;
    animation: dataloader 500ms infinite alternate;
    border-radius: 0;
}