body {
    background: #fff;
    color: #222f3e;
    letter-spacing: normal;
}
.flat {
    border-radius: 0;
}
.container {
    border-radius: 0;
    background: #f5f6fa;
}
.judul {
    margin-top: 1.175em;
    margin-bottom: .725em;
    padding: 1.125em;
    color: #0097e6;
    background-color:rgb(219, 219, 219);
    border-bottom: 5px solid #fff;
}
.judul h1 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 750;
    text-align: right;
}
.judul h2 {
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
}
.judul img {
    width: 80px;
}
.alert-judul {
    background: #0097e6; /*biru-cerah*/
    border-radius: 0;
    border: none;
    margin-bottom: .825em;
    color: #fff;
    border-bottom: 5px solid #fbc531; /*kuning-cerah*/
}
.alert-judul h3 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.carousel-inner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
    max-height: 450px !important;
}

.carousel-indicators {
margin-bottom: -1.25%;
}

.carousel-indicators li {
    background-color: #0097e6;
}
.carousel-indicators li.active {
    background-color: #fbc531;
}
@media only screen and (max-width: 750px) {
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  .judul h1 {
    text-align: center;
    font-size: 1.525em;
  }
  .judul img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
  .carousel-indicators li, .carousel-indicators li.active {
    display: none;
  }

  .carousel-inner img {
    max-width: 100% !important;
    height: auto;
  }
}
@media only screen and (min-width: 755px) {
    .carousel-control {
        display: none;
    }
}
